{% extends "@Common/admin/layout.html.twig" %}

{% block body %}
<div class="content">
    <a href="/admin/adverts/add"><b>Add an advert through form</b></a>
    <p></p>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
            <th>*</th>
            <th>*</th>
        </tr>
        {% for advert in adverts %}
            <tr align="center">
                <td>{{ advert.id }}</td>
                <td align="left">{{ advert.title }}</td>
                <td>{{ advert.phone }}</td>
                <td>
                    {% if advert.status %}
                        <span style="color:green;">on</span>
                    {% else %}
                        <span style="color:red">off</span>
                    {% endif %}
                </td>
                <td>{{ advert.created }}</td>
                <td>{{ advert.updated }}</td>
                <td><a href="/admin/adverts/edit?id={{ advert.id }}">Edit</a></td>
                <td><a href="/admin/adverts/delete_action?id={{ advert.id }}" onclick="return confirm('Delete selected element?');">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock body %}